<div class="tips-rail-image__frame tips-rail-image__frame--gesture">
  <div class="tips-rail-image__gesture-badge"><%= data[:modifier] %></div>
  <div class="tips-rail-image__gesture-canvas tips-rail-image__gesture-canvas--<%= data[:mode] %>" aria-hidden="true">
    <span class="tips-rail-image__gesture-node tips-rail-image__gesture-node--one"></span>
    <span class="tips-rail-image__gesture-node tips-rail-image__gesture-node--two"></span>
    <span class="tips-rail-image__gesture-node tips-rail-image__gesture-node--three"></span>
    <span class="tips-rail-image__gesture-path"></span>
    <span class="tips-rail-image__gesture-cursor"></span>
    <span class="tips-rail-image__gesture-selection"></span>
  </div>
  <p class="tips-rail-image__label"><%= data[:label] %></p>
</div>
