<div class="tips-rail-image__frame tips-rail-image__frame--keyboard">
  <p class="tips-rail-image__label"><%= data[:label] %></p>
  <div class="tips-rail-image__keys" aria-hidden="true">
    <% data.fetch(:keys).each do |key| %>
      <span class="tips-rail-image__keycap"><%= key %></span>
    <% end %>
  </div>
</div>
