<div class="tips-rail-image__frame tips-rail-image__frame--board">
  <div class="tips-rail-image__board" aria-hidden="true">
    <% data.fetch(:rows).each_with_index do |row, row_index| %>
      <% row.each_with_index do |cell_token, column_index| %>
        <% dark_square = (row_index + column_index).odd? %>
        <% state, piece = cell_token.to_s.split(':', 2) %>
        <span
          class="tips-rail-image__board-square tips-rail-image__board-square--<%= dark_square ? 'dark' : 'light' %> tips-rail-image__board-square--<%= state %>">
          <% if piece.present? %>
            <span class="tips-rail-image__piece tips-rail-image__piece--<%= piece %>">
              <%= piece == 'pawn' ? 'P' : piece.first.upcase %>
            </span>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
