<%
  files = ('a'..'h').to_a
  pieces = board.fetch(:pieces, {})
  states = board.fetch(:states, {})
%>

<table class="bot-guide-cover-board" aria-hidden="true">
  <% 8.downto(1) do |rank| %>
    <tr>
      <% files.each_with_index do |file, index| %>
        <% square = "#{file}#{rank}" %>
        <% tile_color = (rank + index).even? ? 'white-tile' : 'black-tile' %>
        <% state = states[square] %>
        <td class="chess-tile <%= tile_color %> <%= "bot-guide-cover-board__square--#{state}" if state.present? %>">
          <% if pieces[square].present? %>
            <span class="bot-guide-cover-board__piece bot-guide-cover-board__piece--<%= pieces[square][:tone] %>"><%= pieces[square][:glyph] %></span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
