<div id="arena">
  <div id="notifications"></div>
  <div class="board-player-name" data-board-name="top"><%= match.player_display_name_for(:black) %></div>
  <div id="W-captures" class="captures"><br></div>
  <%= render partial: 'shared/chess_board' %>
  <div id="B-captures" class="captures"><br></div>
  <div class="board-player-name" data-board-name="bottom"><%= match.player_display_name_for(:white) %></div>
</div>
