<%
  data = node.data.is_a?(Hash) ? node.data : (JSON.parse(node.data) rescue {})
  chunks = Node.condition_preview_chunks(data)
%>

<div class="node-preview condition-preview">
  <% chunks.each do |line| %>
    <% if line == "" %>
      <div class="condition-preview__chunk condition-preview__chunk--spacer"></div>
    <% else %>
      <div class="condition-preview__chunk"><%= line %></div>
    <% end %>
  <% end %>
</div>