<% action_type = presenter.action_type %>
<% value = presenter.action_value %>
<div class="node-preview score-preview">
  <span class="score-preview__type"><%= action_type.to_s.humanize %></span>
  <span class="score-preview__value"><%= value %></span>
</div>
