<% show_owner = local_assigns.fetch(:show_owner, show_details) %>
<div class="match-bot-list<%= ' match-bot-list--no-owner' unless show_owner %>">
  <% if show_details %>
    <div class="match-bot-list__header">
      <span class="match-bot-list__header-spacer"></span>
      <span class="match-bot-option__name">Bot</span>
      <span class="match-bot-option__rating">ELO</span>
      <% if show_owner %>
        <span class="match-bot-option__owner">Owner</span>
      <% end %>
    </div>
  <% end %>
  <% bots.each do |bot| %>
    <%= render 'matches/bot_option',
      bot: bot,
      radio_name: radio_name,
      checked: selected_id.to_i == bot.id,
      change_action: local_assigns[:change_action],
      show_details: show_details,
      show_owner: show_owner %>
  <% end %>
</div>
<div class="index-pagination">
  <%== pagy.series_nav if pagy.pages > 1 %>
</div>
